<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Basto!{% endblock %}</title>

        {% block stylesheets %}            
            <link href="{{ asset('bundles/basto/css/boostrap.min.css') }}" type="text/css" rel="stylesheet" />                        
            <link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet" /> 
            <link href="{{ asset('bundles/basto/css/general.css') }}" rel="stylesheet" />
        {% endblock %}
        {% block javascripts %}             
            <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
            <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>         
            <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>  
            <script src="{{ asset('bundles/basto/js/general.js') }}"></script>   
        {% endblock %}            
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        
        {% block body %}        
            {{ render(controller('BastoFrontEndBundle:Default:menu')) }}  
            {% block content %}

            {% endblock %}  
        {% endblock %}        

    </body>
</html>
